:root {
  --c-bg: #fff;
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;

  &.dark {
    --c-bg: #050505;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

#root {
  width: 100vw;
  min-width: 300px;
}
